#title {
    font-size: 15vw;
    letter-spacing: 5px;
    width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    animation: type 5s;
    overflow: hidden;
    
}

@keyframes type {
    0% {
      width: 0%;
      opacity: 0;
    }
    100% {
      width: 100%;
      opacity: 1;
    }
  }

img {
    width: 100%;
    z-index: 0;
}

.wrapper {
    position: relative;
    width: 100%;
    margin-top: 50px;
    z-index: 0;
}
.japan-name {
    position: absolute;
    top: 20px;
    left: 50%;  
}
.london-name {
    position: absolute;
    top: 20px;
    right: 10%;
}
.usa-name {
    position: absolute;
    top: 20px;
    left: 10%;
}
#realTime {
    position: absolute;
    bottom: 20px;
    left: 25%;   
}
#ukTime {
    position: absolute;
    bottom: 20px;
    right: 10%;   
}
#usaTime {
    position: absolute;
    bottom: 20px;
    left: 10%;   
}
.city {
    font-size: 10vw;
    color: white;
    letter-spacing: 5px;
    text-shadow: rgba(0,0,0,0.5) 2px 2px 4px;
    z-index: 1;
}

.time {
    font-size: 10vw;
    color: white;
    letter-spacing: 5px;
    text-shadow: rgba(0,0,0,0.5) 2px 2px 4px;
    z-index: 1;
}

.japan-hide {
    opacity: 0;
    transform: translateY(30%);
    
}

.japan-show {
    opacity: 1;
    transform: translateY(0);
    transition: 1.0s;
}

.uk-hide {
    opacity: 0;
    transform: translateX(-30%);
}
.uk-show {
    opacity: 1;
    transform: translateX(0);
    transition: 1.0s;
    overflow: hidden;
}
.usa-hide {
    opacity: 0;
    transform: translateX(-30%);
}
.usa-show {
    opacity: 1;
    transform: translateX(0);
    transition: 1.0s;
}
.name-hide {
    opacity: 0;
}
.name-show {
    opacity: 1;
    transition-timing-function: ease-in;
    transition: 2.5s;
}
.content-hide {
    opacity: 0;

}

.content-show {
    opacity: 1;
    transition: 4s;
}
.content {
    margin-top: 5vw;
    color: rgb(97, 97, 97)
}
.content h2 {
    font-size: 7vw;
}
.content p {
    font-size: 5vw;
}
.content span {
    font-size: 5vw;
    padding: 1vw;
}