#timer {
    display: block;
    margin: 100px auto 40px auto;
    width: 80%;
    text-align: center;
    font-size: 60px;
    padding: 20px;
    border-style: solid;
}

#showLap {
    font-size: 30px;
}

button {
    background-color:darkgreen;
    color: white;
    font-size: 20px;
    width: 30%;
    height: 40px;
    border-radius: 20px;
}

.start {
    margin: 0 auto;
    z-index: 5;
    transition: .7s;
}

.hide {
    position: absolute;
    right: -30%;
    margin: 0 auto;
    z-index: 3;
    transition: .3s;
}

.left {
    left: 10%;
    transition: .3s;
}

.right {
    right: 10%;
    transition: .3s;
}

.reset {
    background: red;
}

.stop {
    background: red;
}